<div class="container">
    <h1>Register</h1>

    <label for="username">Username</label>
    <input ng-model="model.user.username" id="username" type="text" class="form-control" placeholder="username"/>

    <label for="passwd">Password</label>
    <input ng-model="model.user.password" id="passwd" type="password" class="form-control" placeholder="password"/>

    <label for="reg-v-passwd">Validate Password</label>
    <input ng-model="model.user.password" id="reg-v-passwd" type="password" class="form-control" placeholder="verify password"/>

    <a class="btn btn-primary btn-block" href="#/profile">Register</a>
    <a class="btn btn-danger  btn-block" href="#/login">Cancel</a>
</div>