<!DOCTYPE html>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!--<div class="navbar-text pull-right">-->
            <!--<a ng-click="model.update(model.user)"><span class="glyphicon glyphicon-ok"></span></a>-->
        <!--</div>-->
        <div class="btn-group pull-right hw-button-group" role="group" aria-label="...">
            <a class="btn btn-default" href="#/admin/login">Admin Login</a>
            <a class="btn btn-default" href="#/login">Login</a>
            <a class="btn btn-default" href="#/register">Sign up</a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href=".">Autonomous Writers</a>
        </div>
    </div>
</nav>


<div class="container">
<!--TODO: add contents to the main pages:-->
    <!--goodreads comments, available books by categories, hot authors, etc.-->
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-right navbar-text">
            <div class="col-xs-12 text-right">
                <!--<a href="#/user/{{model.user._id}}"><span class="glyphicon glyphicon-user"></span></a>-->
            </div>
        </div>
    </div>
</nav>