<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--<div class="navbar-text pull-right">-->
        <!--<a ng-climodelsodel.updmodelsodel.user)"><span class="glyphicon glyphicon-ok"></span></a>-->
        <!--</div>-->
        <div class="btn-group pull-right hw-button-group" role="group" aria-label="...">
            <span ng-show="currentUser.role.indexOf('admin') > -1">
                <a class="btn btn-danger" href="#/admin">Admin</a>
            </span>
            <span ng-show="currentUser.role.indexOf('writer') > -1">
                <a class="btn btn-primary" href="#/writer/{{currentUser._id}}/published">My Publishes</a>
            </span>
            <span ng-show="currentUser.role.indexOf('reader') > -1">
                <a class="btn btn-primary" href="#/reader/{{currentUser._id}}/bookshelf">My Bookshelf</a>
            </span>
            <span ng-hide="currentUser">
                <a class="btn btn-default" href="#/login">Login</a>
                <a class="btn btn-default" href="#/register">Register</a>
            </span>
            <span ng-show="currentUser">
                <!--<a class="btn btn-default" ng-click="model.gotoProfile()">Profile</a>-->
                <a class="btn btn-default" href="#/user/{{currentUser._id}}">Profile</a>
                <a class="btn btn-default" ng-click="model.logout()">Logout</a>
            </span>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Autonomous Writers</a>
        </div>
    </div>
</nav>

<div class="container">
    <!--TODO: add contents to the main pages:-->
    <!--goodreads comments, availabookooks by categories, hot authors, etc.-->
</div>

<div class="container">
    <div class="col-xs-4" ng-repeat="book in model.allBooks">
        <div class="row">
            <div class="col-xs-12 pull-right">
                <!--<a href="#/reader/{{model.userId}}/book/{{book._id}}">-->
                <a ng-click="model.gotoBook(book)">
                    {{book.title}}
                </a>
            </div>
        </div>
    </div>
</div>