<!DOCTYPE html>

<h2>Admin</h2>

<h3>User Management</h3>

<table class="table table-stripped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr>
        <td><input ng-model="user.firstName" class="form-control" placeholder="First"></td>
        <td><input ng-model="user.lastName" class="form-control" placeholder="Last"></td>
        <td><input ng-model="user.username" class="form-control" placeholder="Username"></td>
        <td><input ng-model="user.password" class="form-control" type="password" placeholder="Password"></td>
        <td><input ng-model="user.email" class="form-control" type="email" placeholder="abc@example.com"></td>
        <td><input ng-model="user.role" class="form-control" placeholder="ex. Reader, Writer"></td>
        <td>
            <button ng-click="model.createUser(user)" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in model.users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>&nbsp;</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
    </tr>
    </tbody>
</table>