<!DOCTYPE html>

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!--<div class="navbar-text pull-right">-->
        <!--<a ng-climodelsodel.updmodelsodel.user)"><span class="glyphicon glyphicon-ok"></span></a>-->
        <!--</div>-->
        <div class="btn-group pull-right hw-button-group" role="group" aria-label="...">
            <span ng-hide="currentUser">
                <a class="btn btn-default" href="#/login">Login</a>
                <a class="btn btn-default" href="#/register">Register</a>
            </span>
            <span ng-show="currentUser">
                <a class="btn btn-default" href="#/user/{{model.userId}}">Profile</a>
                <a class="btn btn-default" ng-click="model.logout(model.userId)">Logout</a>
            </span>
            <span ng-show="currentUser.role.indexOf('admin') > -1">
                <a href="#/admin">Admin</a>
            </span>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Autonomous Writers</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="book in model.bookshelf" class="list-group-item">
            <div class="row">
                <div class="col-xs-11 col-sm-6">
                    <a href="#/reader/{{model.userId}}/book/{{book._id}}">
                        {{book.name}}
                    </a>
                </div>
                <div class="col-sm-3 hidden-xs">
                    {{book.authors}}
                </div>
                <div class="col-sm-2 hidden-xs">
                    {{book.ISBN}}
                </div>
                <div class="col-xs-1">
                    <!--TODO: add a remove button for removing the book from shelf-->
                    <!--<a href="#/reader/{{model.userId}}/book/{{book._id}}">-->
                        <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
                    <!--</a>-->
                </div>
            </div>
        </li>
    </ul>
</div>