<h1>Header Editor</h1>

<label for="header-name">Name</label>
<input ng-model="model.widget.name" type="text" class="form-control"
       id="header-name" placeholder="Widget name">

<label for="header-text">Text</label>
<textarea ng-model="model.widget.text" class="form-control"
          id="header-text" placeholder="{{model.widget.text}}"></textarea>

<label for="header-size">Size</label>
<input ng-model="model.widget.size" type="text" class="form-control"
       id="header-size" placeholder="{{model.widget.size}}">