<h1>YouTube Editor</h1>

<label for="youtube-name">Name</label>
<input ng-model="model.widget.name" type="text" class="form-control"
       id="youtube-name" placeholder="Widget name">

<label for="youtube-text">Text</label>
<textarea ng-model="model.widget.text" class="form-control"
          id="youtube-text" placeholder="Sample Image Text"></textarea>

<label for="youtube-url">URL</label>
<input ng-model="model.widget.url" type="text" class="form-control"
       id="youtube-url" placeholder="{{model.widget.url}}">

<label for="youtube-width">Width</label>
<input ng-model="model.widget.width" type="text" class="form-control"
       id="youtube-width" placeholder="{{model.widget.width}}">