<!DOCTYPE html>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-text pull-left">
            <a href="#/writer/{{model.userId}}/book/{{model.bookId}}/articles">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.createArticle(article)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#/user/{{model.userId}}/website/new">New Website</a>-->
            <a class="navbar-brand" href="#/writer/{{model.userId}}/book/{{model.bookId}}/article/new">New Article</a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <label for="name">Title</label>
    <input ng-model="article.title" class="form-control" id="name">

    <label for="chapterNum">Chapter Number</label>
    <input ng-model="article.chapterNumber" type="number" class="form-control" id="chapterNum">

    <label for="chapterName">Chapter Name</label>
    <input ng-model="article.chapterName" type="text" class="form-control" id="chapterName">

    <label for="content">Content</label>
    <div ng-model="article.content"
         id="content"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>
</div>