<!DOCTYPE html>

<nav class="navbar navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/writer/{{model.userId}}/published">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/writer/{{model.userId}}/book/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/home">Autonomous Writers</a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="navbar-text pull-left hidden-sm">
                <a href="#/writer/{{model.userId}}/published">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updateBook(book)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <!--<a class="navbar-brand" href="#/user/{{model.userId}}/website/new">New Website</a>-->
                <a class="navbar-brand" href="#/home">Autonomous Writers</a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <!-- left side -->
    <div class="col-sm-4 hidden-xs hw-sidebar">
        <ul class="list-group">
            <li ng-repeat="book in model.bookshelf" class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        {{book.title}}
                    </div>
                    <div class="col-xs-2 pull-right">
                        <a href="#/writer/{{model.userId}}/book/{{book._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- right side -->
    <div class="col-sm-8">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <label for="name">Title</label>
        <input ng-model="book.title" class="form-control" id="name" placeholder="Name">

        <label for="isbn">ISBN</label>
        <input ng-model="book.isbn" class="form-control" id="isbn">

        <!--TODO: finish all the input in the schema-->

        <label for="description">Description</label>
        <textarea ng-model="book.description"
                  class="form-control"
                  rows="4"
                  id="description"
                  placeholder="Description">
        </textarea>

        <a class="btn btn-danger btn-block" ng-click="model.deleteBook()">Delete Book</a>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-right navbar-text">
            <div class="col-xs-12 text-right">
                <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a>
            </div>
        </div>
    </div>
</nav>
