<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--<div class="navbar-text pull-right">-->
        <!--<a ng-climodelsodel.updmodelsodel.user)"><span class="glyphicon glyphicon-ok"></span></a>-->
        <!--</div>-->
        <div class="navbar-text pull-left">
            <a href="#/home">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="btn-group pull-right hw-button-group" role="group" aria-label="...">
            <span ng-hide="currentUser">
                <a class="btn btn-default" href="#/login">Login</a>
                <a class="btn btn-default" href="#/register">Register</a>
            </span>
            <span ng-show="currentUser">
                <a class="btn btn-default" href="#/user/{{model.userId}}">Profile</a>
                <a class="btn btn-default" ng-click="model.logout(model.user)">Logout</a>
            </span>
            <span ng-show="currentUser.role.indexOf('admin') > -1">
                <a href="#/admin">Admin</a>
            </span>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">My Bookshelf</a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert alert-info" role="alert">
        {{model.message}}
    </div>
</div>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="book in model.user.bookshelf" class="list-group-item">
            <div class="row">
                <div class="col-xs-4">
                    <a href="#/reader/{{model.userId}}/book/{{book.bookId}}">
                        {{book.title}}
                    </a>
                </div>
                <div class="col-xs-4">
                    <span ng-show="{{book.updated}}">
                        <span class="hw-updated">recently updated</span>
                    </span>
                </div>
                <div class="col-xs-4">
                    <a ng-click="model.removeBookFromShelf(book)">
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>