<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                Widget Edit
            </a>
        </div>
    </div>
</nav>

<!--Using ng-switch for different widget type-->
<!--<ng-include smodelsodel.getWidgetTemplateUrl(widget.type)"></ng-include>-->
<div class="container-fluid">
    <ng-include src="model.getEditWidgetTemplateUrl(model.widget.type)"></ng-include>

    <a ng-click="model.deleteWidget()"
       class="btn btn-danger btn-block hw-button">Delete</a>

    <div ng-show="model.error" class="alert alert-danger hw-button" role="alert">
        {{model.error}}
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-play hw-navbar-glyphicon"></span>
            <span class="glyphicon glyphicon-eye-open hw-navbar-glyphicon"></span>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user hw-navbar-glyphicon"></span>
            </a>
        </div>
    </div>
</nav>
