<!DOCTYPE html>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <a class="btn btn-primary btn-block" ng-click="model.createWidget('INPUT')">Text Input</a>

    <ul class="list-group">
        <li ng-repeat="widget in model.widgets" class="list-group-item">
            <div class="row">
                <div class="col-xs-11 col-sm-6">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        {{widget.type}}
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-right navbar-text">
            <div class="col-xs-12 text-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user hw-navbar-glyphicon"></span>
                </a>
            </div>
        </div>
    </div>
</nav>