<div class="container">
    <h1>Register</h1>

    <label for="username">Username</label>
    <input id="username" type="text" class="form-control" placeholder="username"/>

    <label for="passwd">Password</label>
    <input id="passwd" type="password" class="form-control" placeholder="password"/>

    <label for="reg-v-passwd">Validate Password</label>
    <input id="reg-v-passwd" type="password" class="form-control" placeholder="verify password"/>

    <a class="btn btn-primary btn-block" href="profile.view.client.html">Register</a>
    <a class="btn btn-danger  btn-block" href="login.view.client.html">Cancel</a>
</div>