<!DOCTYPE html>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../page/page-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="widget-choose.view.client.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <!-- header -->
    <div class="container hw-widget">
        <div class="jga-toolbar">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <h1>#Transparency update: Twitter discloses national security letters</h1>
        <p>
            Today, we’re able to speak openly about two national security requests for the first time, specifically two
            national security letters (NSLs). These NSLs were accompanied by gag orders when they were served (one in
            2015, one in 2016), preventing us from notifying the impacted account holders or publicly disclosing their
            existence. The FBI recently informed us that the gag orders have been lifted and that we may notify the
            account holders.
        </p>
        <p>
            We have provided each of the account holders with copies of the relevant NSLs (certain information redacted
            to protect privacy) as well as the account data we were compelled to produce. While the actual NSLs request
            a large amount of data, Twitter provides a very limited set of data in response to NSLs consistent with
            federal law and interpretive guidance from the U.S. Department of Justice.
        </p>
        <p>
            We’re encouraged by the lifting of these two gag orders and those recently disclosed by Cloudflare, Google,
            the Internet Archive, and Yahoo!. However, Twitter remains unsatisfied with restrictions on our right to
            speak more freely about national security requests we may receive. We continue to push for the legal ability
            to speak more openly on this topic in our lawsuit against the U.S. government, Twitter v. Lynch.
        </p>
    </div>
</div>


<!-- image -->
<div class="container hw-widget">
    <div class="jga-toolbar">
        <a href="widget-image.view.client.html">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>
    <img src="https://i.imgur.com/n2Bsnpx.png" class="img-responsive">
</div>

<!-- youtube -->
<div class="container hw-widget">
    <div class="jga-toolbar">
        <a href="widget-youtube.view.client.html">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/YKgLsyx5wzs?rel=0&amp;showinfo=0"></iframe>
    </div>
</div>

<div class="container hw-widget">
    <div class="jga-toolbar">
        <a>
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>
    <span class="quora-content-embed" data-name="What-are-the-most-promising-areas-in-CS-Why/answer/Thomas-Cormen-1">
            Read <a class="quora-content-link" data-width="559" load-full-answer="False"
                    data-key="fe0151210203c788ebab156064532a47" data-id="30556588" data-embed="rpfreqd"
                    href="https://www.quora.com/What-are-the-most-promising-areas-in-CS-Why/answer/Thomas-Cormen-1"
                    data-type="answer" data-height="250"><a
            href="https://www.quora.com/Thomas-Cormen-1">Thomas Cormen</a>
            &#039;s <a href="/What-are-the-most-promising-areas-in-CS-Why#ans30556588">answer</a>
            to <a href="/What-are-the-most-promising-areas-in-CS-Why" ref="canonical">
                <span class="rendered_qtext">What are the most promising areas in CS? Why?</span>
            </a></a> on <a href="https://www.__nousername__.main.quora.com">Quora</a>
            <script type="text/javascript" src="https://www.quora.com/widgets/content"></script></span>
</div>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-play hw-navbar-glyphicon"></span>
            <span class="glyphicon glyphicon-eye-open hw-navbar-glyphicon"></span>
        </div>
        <div class="navbar-text pull-right">
            <a href="../user/profile.view.client.html"><span class="glyphicon glyphicon-user hw-navbar-glyphicon"></span></a>
        </div>
    </div>
</nav>
