<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../../website/templates/website-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="page-new.view.client.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Pages</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <div class="row">
                <div class="col-xs-11 col-sm-6">
                    {{page.name}}
                </div>
                <div class="col-sm-3 hidden-xs">
                    {{page.websiteId}}
                </div>
                <div class="col-sm-2 hidden-xs">
                    {{page.description}}
                </div>
                <div class="col-xs-1">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-right navbar-text">
            <div class="col-xs-12 text-right">
                <a href="../../user/templates/profile.view.client.html"><span class="glyphicon glyphicon-user"></span></a>
            </div>
        </div>
    </div>
</nav>